body 
h1 {font-size: 80px; 
	font-family: 'Cabin', sans-serif; 
    text-align:left; 
    color:#ffbc75; 
    margin-top: 50px; 
    margin-left: 0px; }

a {
    font-family: 'Adamina', serif; 
   font-size: 20px;
   margin-top:15px;
   margin-bottom:5px;
    display: inline; 

    
    }

img {margin-top: 50px;}
/* Add a black background color to the top navigation */
    .topnav {
    background-color: white;
    overflow: hidden;
    }

/* Style the links inside the navigation bar */
    .topnav a {

    padding-right:20px;
    text-align: center;
    float: left;
    color: #ffd8b7;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    }

/* Change the color of links on hover */
    .topnav a:hover {
    background-color: #ffbc75;
    color: white;
    }

/* Add a color to the active/current link */
    .topnav a.active {
    background-color: #4CAF50;
    color: white;
    }  

h2 {font-size: 50px; 
    font-family: 'Cabin', sans-serif; 
    color:#ffbc75; 
    margin-top: 50px; 
    }

p {font-family: 'Adamina', serif;  
   font-size: 18px;
    display: inline; 
   
    text-align:left;
    }
